service: eviction-lab-exports-pdf

provider:
  name: aws
  runtime: nodejs12.x
  stage: dev
  environment:
    export_bucket: eviction-lab-exports
    stage: ${opt:stage, self:provider.stage}
    DEBUG: "*"

  iamRoleStatements:
    - Effect: "Allow"
      Action: "s3:*"
      Resource: "arn:aws:s3:::eviction-lab-exports/*"
    - Effect: "Allow"
      Action: "s3:*"
      Resource: "arn:aws:s3:::eviction-lab-exports-dev/*"

plugins:
  - serverless-plugin-typescript
  - serverless-plugin-chrome
  - serverless-offline
  # - serverless-domain-manager

package:
  include:
    - assets

functions:
  pdf:
    memorySize: 2048
    timeout: 30
    handler: pdf/pdf.fileHandler
    events:
      - http:
          path: /
          method: post
          cors: true

custom:
  optimize:
    includePaths:
      - ../assets
# custom:
#   customDomain:
#     domainName: 'exports.evictionlab.org'
#     certificateName: '*.evictionlab.org'
#     basePath: 'pdf'
#     stage: prod
#     createRoute53Record: true
